<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>

<body>

    <form action="/register/add" method="post">
        <div>
            <label >Nome</label>
            <input type="text" name="name" placeholder="Digite o seu nome">
        </div>

        <div>
            <label >Idade</label>
            <input type="text" name="age" placeholder="Digite a sua idade">
        </div>

        <div>
            <label >E-mail</label>
            <input type="email" name="email" placeholder="Digite aqui o seu e-mail">
        </div>

        <div>
            <label >Senha</label>
            <input type="text" name="password" placeholder="Digite aqui sua senha">
        </div>
        <button type="submit">Cadastrar</button>

    </form>

    <script src="js/main.js"></script>
    
</body>
</html>